@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
  --black: #0A090C;
  --green-start: #046153;
  --blue-end: #409492;
  --green-main: #037F6F;
  --subheading: #4a5568;
  --selection-green: #05B39C;
  --yellow-accent: #EDD16E;
  --orange-accent: #FFA947;
  --white-main: #F7F9F1;
  --gradient-bg: linear-gradient(135deg, var(--green-start), var(--green-main), var(--blue-end));
  --gradient-yo: linear-gradient(var(--yellow-accent), var(--orange-accent))
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.logo-container {
  padding-top: 100px;
  margin-bottom: 20px;
  text-align: center;
}
.logo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.main-title {
  font-size: 48px;
  color: #008000;
  margin-bottom: 30px;
  text-align: center;
}

body {
    background-color: #f5f5f5;
    min-height: 100vh;
}

/* navbar */
nav {
  background: var(--gradient-bg);
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;          
  left: 0;         
  z-index: 1000;
}

label.logo-nav {
  color: var(--white-main);
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: var(--white-main);
  font-size: 17px;
  text-decoration: none;
  padding: 7px 13px;
  border-radius: 3px;
}

nav ul li a:hover {
  background: var(--selection-green);
  transition: .5s;
}

a.active {
  background: var(--selection-green);
}

.check-btn {
  font-size: 30px;
  color: var(--white-main);
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

  
  @media (max-width: 952px) {
    label.logo-nav {
      font-size: 30px;
      padding-left: 50px;
    }
  
    nav ul li a {
      font-size: 16px;
    }
  }
  
  @media (max-width: 858px) {
    .check-btn {
      display: block;
    }
  
    ul {
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #008000;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
  
    nav ul li {
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
  
    nav ul li a {
      font-size: 20px;
    }
  
    a.active {
      background: none;
      color: #008000;
    }
  
    #check:checked ~ ul {
      left: 0;
    }
} /* end navbar code */

.header {
    background: #008000;
    color: white;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}