
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* Hero Section */
.home-hero-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

.home-content-box {
  width: 90%;
  max-width: 1200px;
  background-color: var(--white-main);
  border: 3px solid var(--black);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  flex-wrap: nowrap;
}

.home-left-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 20px;
}

.home-design-tool-button {
  background-color: var(--green-main);
  color: var(--white-main);
  padding: 14px 28px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  width: 60%;
}

.home-design-tool-button:hover {
  background-color: var(--selection-green);
}

.home-hero-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: none;
  height: auto;
  background: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
  overflow: visible;
  padding: 0;
}

.home-hero-image img {
  width: 60%;
  height: auto;
  justify-content: center;
  align-items: center;
}

/* Overview Section */
.home-overview-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 80%;
  margin: 40px auto 0;
  background-color: var(--white-main);
  padding: 24px;
  margin-bottom: 24px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.home-overview-section p {
  font-size: 18px;
  color: var(--subheading);
  max-width: 600px;
  margin: 0 auto;
}

.home-get-started {
  background-color: var(--green-main);
  color: var(--white-main);
  padding: 12px 20px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  margin-top: 15px;
  text-align: center;
}

.home-get-started:hover {
  background-color: var(--selection-green);
}
